<form method="POST" class="login-container" >
        <label>Name</label>
            <input type="text" name="username" required>
            <label>Password</label>
            <input type="text" name="password" required>
            <label>Email</label>
            <input type="text" name="email" required>

        <input class="btn"  type="submit" value="Register">
    </form>

